html,
body {
    height: 100%;
}

body {
    display: flex;
    background: url("../images/subtle_white_mini_waves.png");
    flex-direction: column;
    font-family: sans-serif;
    margin: 0;
}

header {
    padding: 1rem;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

main {
    padding: 1rem;
    flex: 1 0 auto;
}


footer {
    background-color: #ffffff90;
    padding: 0 1rem;
    flex-shrink: 0;
}